In [1]:
#Importar las librerias para el analisis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#Para leer el archivo CSV, cambiar los Nan por : y filtrar las columnas del 
#archivo o recuperar columnas del csv
edu = pd.read_csv('./Diamonds_are_forever.csv', na_values = ':',
                   usecols = ["Carat","Colour","Clarity","Lab","Price ($US)"])
edu

     Carat  Colour  Clarity  Lab  Price ($US)
0     0.30       1        5    1        911.4
1     0.30       2        4    1       1057.0
2     0.30       4        2    1       1057.0
3     0.30       4        4    1        882.0
4     0.31       1        4    1       1148.7
..     ...     ...      ...  ...          ...
303   1.01       6        4    3       5722.5
304   1.02       3        3    3       7557.2
305   1.06       5        3    3       6923.0
306   1.02       5        5    3       6271.3
307   1.09       6        3    3       6374.9

[308 rows x 5 columns]

In [7]:
#Muestra los primeros valores del CSV
edu.head()

   Carat  Colour  Clarity  Lab  Price ($US)
0   0.30       1        5    1        911.4
1   0.30       2        4    1       1057.0
2   0.30       4        2    1       1057.0
3   0.30       4        4    1        882.0
4   0.31       1        4    1       1148.7

In [8]:
#Muestra los ultimos valores del CSV
edu.tail()

     Carat  Colour  Clarity  Lab  Price ($US)
303   1.01       6        4    3       5722.5
304   1.02       3        3    3       7557.2
305   1.06       5        3    3       6923.0
306   1.02       5        5    3       6271.3
307   1.09       6        3    3       6374.9

In [9]:
#Indica la estadistica basica necesaria para el analisis de datos del 
# archivo
edu.describe()

            Carat     Colour     Clarity         Lab   Price ($US)
count  308.000000  308.00000  308.000000  308.000000    308.000000
mean     0.630909    3.75000    3.152597    1.766234   3513.638636
std      0.277183    1.40236    1.293718    0.833283   2382.181001
min      0.180000    1.00000    1.000000    1.000000    446.600000
25%      0.350000    3.00000    2.000000    1.000000   1137.500000
50%      0.620000    4.00000    3.000000    2.000000   2950.500000
75%      0.850000    5.00000    4.000000    3.000000   5212.200000
max      1.100000    6.00000    5.000000    3.000000  11205.600000

In [10]:
#Indica los nombres de las columnas
edu.columns

Index(['Carat', 'Colour', 'Clarity', 'Lab', 'Price ($US)'], dtype='object')

In [11]:
#Indica el rango de las filas del archivo
edu.index

RangeIndex(start=0, stop=308, step=1)

In [12]:
#Acomoda la informacion como arreglo en Python
edu.values

array([[3.0000e-01, 1.0000e+00, 5.0000e+00, 1.0000e+00, 9.1140e+02],
       [3.0000e-01, 2.0000e+00, 4.0000e+00, 1.0000e+00, 1.0570e+03],
       [3.0000e-01, 4.0000e+00, 2.0000e+00, 1.0000e+00, 1.0570e+03],
       ...,
       [1.0600e+00, 5.0000e+00, 3.0000e+00, 3.0000e+00, 6.9230e+03],
       [1.0200e+00, 5.0000e+00, 5.0000e+00, 3.0000e+00, 6.2713e+03],
       [1.0900e+00, 6.0000e+00, 3.0000e+00, 3.0000e+00, 6.3749e+03]])

In [13]:
#Calcula la mediana del archivo
edu.median()

Carat             0.62
Colour            4.00
Clarity           3.00
Lab               2.00
Price ($US)    2950.50
dtype: float64